html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #ECE5CE;
  transition: background-color .5s ease;
}
body.won { background-color: #8FBE00; }

body.lost { background-color: #E22D2D; }

header{
  display: block;
}

button {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
  line-height: normal;
  text-transform: none;
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;  /* 4 */
}

button {
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 800;
  padding: 5px 10px;
  color: #333;
  background-color: #fff;
  vertical-align: middle;
}

button.large {
  padding: 15px 20px;
}

button.primary {
  color: #8FBE00;
}

h1 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.7em;
}

.wrapper {
  display: block;
  width: 810px;
  margin: 0 auto;
}

header {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.container {
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.option, .socket {
  display: inline-block;
  border-radius: 50%;
  background-color: #C7BF8D;
}

#guesses {
  display: inline-block;
  background-color: #E3DCB5;
  border-radius: 3px 0 0 3px;
  padding: 15px 30px;
  font-size: 0;
}

.guess { margin-top: 15px; }

.option, .code .socket, .guess .socket {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.code .socket + .socket, .guess .socket + .socket { margin-left: 10px; }

.code {
  border-bottom: 2px solid #c7bf8d;
  padding-bottom: 15px;
}

.secret {
  color: #e3dcb5;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
}

.socket.peg {
  -webkit-animation: bounceIn .4s;
  -o-animation: bounceIn .4s;
  animation: bounceIn .4s;
}


#hints {
  vertical-align: bottom;
  display: inline-block;
  padding: 15px 20px;
  background-color: #E3DCB5;
  border-radius: 0 3px 3px 0;
  font-size: 0;
}

.hint {
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hint .row { height: 10px; }
.hint .row + .row { margin-top: 5px; }

.hint .socket {
  width: 10px;
  height: 10px;
}

.hint .socket + .socket { margin-left: 5px; }

.hint + .hint { margin-top: 15px; }
.hit { background-color: #000; }
.almost { background-color: #fff; }

#modalMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  /*min-width: 320px;*/
  height: auto;
  z-index: 2000;
  opacity: 1;
  border-radius: 2px;
  padding: 15px 20px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  transition: all .3s ease;
}

#modalOverlay.hidden {
  visibility: hidden;
}

#modalOverlay.won {
  background-color: rgba(143, 190, 0, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.won #modalMessage {
  background-color: #8FBE00;
  border: 5px solid #fff;
}

#modalOverlay.lost {
  background-color: rgba(226, 45, 45, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.lost #modalMessage {
  background-color: #E22D2D;
  border: 5px solid #fff;
}

#options {
  margin: 0 auto;
  padding: 20px 0;
  display: block;
  text-align: center;
  font-size: 0;
}

#options button + button {
  margin-left: 10px;
}

.option {
  margin-right: .5em;
  -moz-transition: all .1s ease;
}

.option:hover {
  -moz-transform: scale(1.1);
  -moz-transform-origin: center;
}

#delete {
  font-size: 21px;
  background-color: #c7bf8d;
}

.green { background: #8FBE00; }
.red { background: #E22D2D; }
.yellow { background: #F8CA00; }
.black { background: #191919; }
.purple { background: #993394; }
.white { background: #fff; }

#results{
  height: 400px;
}

@media (max-width: 768px) {
  .wrapper,
  .container {
    width: 100%;
    box-sizing: border-box;
  }
  #guesses,
  #hints {
    margin-bottom: 50px;
  }
  #instructions {
    display: none;
  }
  #options {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #ece5ce;
  }
  #options button {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
  }
  .option {
    margin-right: 0;
  }
}