    a{
        color: green;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
    a:visited{
        color: brown;
    }
    a:hover{
        cursor: help;
        font-weight: bold;
    }
