
table.content td{
	border: 1px black solid;
	text-align: center;
	padding: 5px;
}
table.content th{
	border: 1px black solid;
	text-align: left;
	padding: 5px;
}
table.content tr:last-of-type{
	font-style: italic;
}
table.content {
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
}
tr:nth-child(even){
	background-color: #DDDDDD;
}
tr:nth-child(odd){
	background-color: #BBBBBB;
}
